
html, body {
  height: 100%;
}

div.console {
  position: fixed;
  width: 50%;
  height: 50%;
  overflow-x: scroll;
  overflow-y: scroll;
  top: 25px;
  right: 25px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: 1px solid rgba(255,255,255,0.5);
  display: block;
  padding: 10px;
  font-family: monospace;
  white-space: pre;
  &.hidden {
    display: none;
  }
}

.header {
  height: 100px;
  overflow: scroll;
  background-color: white;
  width: 100%;
  border-bottom: 0 solid #ffffff;
  
  transition: all .5s ease 0s;
  
  &.sticky {
    position: fixed;
    top:0;
    left:0;
    height: 50px;
    background-color: #eeeeee;
    border-bottom: 1px solid #cccccc;
  }
  
  &_logo {
    display: inline-block;
  }
  
  &_nav {
    display: inline-block;
    
    ul {
      display: inline-block;
      li {
        display: inline-block;
        a:link {
          color: red;
        }
      }
    }
    
  }
  
}

section {
  margin: 0;
  padding: 20px;
  &.section_screen {
    min-height: 100%;  
  }
}

#one {
  background-color: #ffeeee;  
}

#two {
  background-color: #eeffee;  
}

#three {
  background-color: #eeeeff;  
}

footer {
  text-align: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}