body {
    background-color: #cccccc;
    font-family: 'Times New Roman', Times, serif;

}


div.content {
    .blue {
        background-color: #ccccff;
    }
    .red {
        background-color: #ffcccc;

    }
    .green {
        background-color: #ccffcc;
    }

}
